PhysicsSansbox/PhysicsSansbox/obj/PhysicsSansbox.csproj.nuget.dgspec.json
PhysicsSansbox/PhysicsSansbox/obj/PhysicsSansbox.csproj.nuget.g.props
PhysicsSansbox/PhysicsSansbox/obj/project.assets.json
PhysicsSansbox/PhysicsSansbox/obj/project.nuget.cache
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.AssemblyInfo.cs
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.AssemblyInfoInputs.cache
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.assets.cache
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.GeneratedMSBuildEditorConfig.editorconfig
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.GlobalUsings.g.cs
bin
obj
node_modules
out
.roslyn/
.roslynDevKit/
.xamlTools/
.omnisharp/
.omnisharp-*/
.vs/
.debugger/
.razor/
.razoromnisharp/
.razortelemetry/
.razorDevKit/
.razorExtension/
.vscode-test/
.roslynCopilot/
msbuild/signing/signJs/*.log
msbuild/signing/signVsix/*.log
dist/
*.razor.json

install.*

*.vsix
*.map


test/**/.vscode/launch.json
test/**/.vscode/tasks.json

.logs/
.nyc_output/
coverage/

\.DS_Store
vsix/