PhysicsSansbox/PhysicsSansbox/obj/PhysicsSansbox.csproj.nuget.dgspec.json
PhysicsSansbox/PhysicsSansbox/obj/PhysicsSansbox.csproj.nuget.g.props
PhysicsSansbox/PhysicsSansbox/obj/project.assets.json
PhysicsSansbox/PhysicsSansbox/obj/project.nuget.cache
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.AssemblyInfo.cs
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.AssemblyInfoInputs.cache
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.assets.cache
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.GeneratedMSBuildEditorConfig.editorconfig
PhysicsSansbox/PhysicsSansbox/obj/Debug/net8.0/PhysicsSansbox.GlobalUsings.g.cs
